@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}
:root {
  --max: 100%;
  --sidebar: 190px;
}
.none-until-575{
  display: none;
}
/* container rules */
.container-sidebar {
  width: var(--sidebar);
}
.mg-auto {
  margin: 0 auto;
}
/* debug rules */
.debug {
  border: 1px dashed black;
}
.debug2 {
  border: 1px dashed red;
}
/*viewport rules*/
.vh-100 {
  height: 100vh;
}
/* width rules */
.w-230p {
  width: 230px;
}
.w-42p {
  width: 42px;
}
.h-42p {
  height: 42px;
}
.w-30 {
  width: 523px;
}
.w-50p {
  width: 50px;
}
.h-50p {
  height: 50px;
}
.w-13 {
  width: 206px;
}
.w-81 {
  width: 81%;
}
.w-75 {
  width: 75%;
}
.w-56 {
  width: 56%;
}
.w-25 {
  width: 25%;
}
.w-3px {
  width: 3px;
}
.h-35px{
  height: 35px;
}
/* color rules */

.bgcolor-lightgreen{
  background-color: rgba(173, 255, 47, 100%);
}
.bgcolor-footer {
  background-color: #282828;
}
.color-white {
  color: white;
}
.bg-color-gray {
  background-color: rgb(63, 63, 63);
}
.bg-color-darkgray {
  background-color: rgb(155, 155, 155);
}
.bg-color-black {
  background-color: black;
}
.color-semigrey{
  color: #717171;
}

/* padding rules */
.paddingt-20 {
  padding-top: 20px;
}
.paddingb-20 {
  padding-bottom: 20px;
}
.paddingb-10 {
  padding-bottom: 10px;
}
.paddingl-10 {
  padding-left: 10px;
}
.paddingl-19 {
  padding-left: 19px;
}
.paddingr-10 {
  padding-right: 10px;
}
.paddingt-30 {
  padding-top: 30px;
}
.paddingt-15 {
  padding-top: 15px;
}
.paddingb-15 {
  padding-bottom: 15px;
}
/* margin rules */
.marginlr-8 {
  margin: 0 8px;
}
.margint-auto {
  margin-top: auto;
}
/* position rules */
.position-r{
  position: relative;
}
.position-a{
  position: absolute;
}
/* flex rules */
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.row-reverse{
  flex-direction: row-reverse;
}
.row-gap-25 {
  row-gap: 25px;
}
.row-gap-12 {
  row-gap: 12px;
}
.column-gap-10 {
  column-gap: 10px;
}
.column-gap-15 {
  column-gap: 15px;
}
.column-gap-5 {
  column-gap: 5px;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.grow-1 {
  flex-grow: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
/* border rules */
.radius-999 {
  border-radius: 999px;
}
/* line rules */
.lineh-5 {
  line-height: 5px;
}
.fonts-8 {
  font-size: 8px;
}
.fonts-10 {
  font-size: 10px;
}
.fonts-20 {
  font-size: 20px;
}
.fonts-30 {
  font-size: 30px;
}
.fonts-40 {
  font-size: 40px;
}
/* RESPOSIVE */

@media (max-width: 991.99px) {
  .w-30 {
    width: 44%;
  }
}
@media (max-width: 767.99px) {
  .flex-wrap-media-sm {
    flex-wrap: wrap;
  }

  .w-100-media {
    width: 100%;
  }
}
@media (max-width: 575.99px) {
  .flex-wrap-media-xsm {
    flex-wrap: wrap;
  }
  .shrink-0 {
    flex-shrink: 1;
  }
  .w-50 {
    width: 50px;
  }
  .remove{
    display: none;
  }
  .none-575{
    display: none;
  }
  .none-until-575{
    display:block;
  }
  .paddingl-xsm-13{
    padding-left:13px;
  }
}
